fastapi
uvicorn
python-dotenv
notion-client
beautifulsoup4
pandas
openpyxl
openai
numpy
python-multipart
yt-dlp
pyotp
requests
python-docx
deep-translator
pypdf
python-pptx
pytesseract
pdf2image
Pillow
psutil
google-generativeai
